// Fontes
$fonte: 'Roboto', sans-serif;

// Cores
$cor-primaria: #495371;
$cor-secundaria: #74959A;
$cor-terciaria: #F1E0AC;
$cor-botao-fundo: #FD8A8A;
$cor-botao-fonte: #F1F7B5;

// tamanho das fontes
$tamanho-do-texto: 3rem;